body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #00fce5;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.messages {
	background-color: #2196f3;
	width: 500px;
	padding: 20px;
}

.messages .msg {
	background-color: #e3f2fd;
	border-radius: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.messages .msg .from {
	background-color: #90caf9;
	line-height: 30px;
	text-align: center;
}

.messages .text {
	padding: 0 10px 10px 10px;
}